html, body, #root {
  height: 100%;
}

.layout {
  min-height: 100vh;            
  display: flex;
  flex-direction: column;     
  background-image: url('../../../public/imgs/background.png');
}

.page-content {
  flex: 1;
  display: block;    
}

footer {
  position: static;        
  margin-top: 0;
}


